<!DOCTYPE html>
<html>
<head>
	<title><%=title %> - About</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<!--Header-->
	<header>
		<div class="container">
			<span class="home-logo">
				<div id="homeLogo">
				<a href="/"><img src="../psd/logo_sm_transparent.png" alt="bigmarketLogo" width="350px" height="200px"></a></div>
			</span>
			<nav id="navbar">
				<ul>
					<li><a href="/users/signup">Sign Up</a></li>
	        <li><a href="/users/login">Log In</a></li>
	        <li class="current"><a href="/about">About</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div style="margin-top:40px"></div>

	<!--About-->
	<section id="about-us">
		<div class="container">
			<article>
				<h1>About Us</h1>
				<p>Hey there! Welcome to Big Market!<br><br>
				This is a place where people can interact to sell and buy their products.<br>
				What's special about Big Market is that you can transact using blockchain technology.<br><br>
				We hope you find this website useful! Have a nice day!</p>
			</article>
		</div>
	</section>

	<div style="margin-top: 150px"></div>
	<footer>
		<h2>Copyrights &copy; Reserved by Big Market, 2019.</h2>
	</footer>
</body>
</html>
