<!DOCTYPE html>
<html>
<head>
    <title><%=title %> : Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<!--Header-->
<header>
    <div class="container">
			<span class="home-logo">
				<div id="homeLogo">
          <a href="/"><img src="../psd/logo_sm_transparent.png" alt="expedialogo" width="350px" height="100px"></a></div>
  			</span>
        <nav id="navbar">
            <ul>
                <li class="current"><a href="/users/signup">Sign Up</a></li>
                <li><a href="/users/login">Log In</a></li>
            </ul>
        </nav>
    </div>
</header>

<!--Signup Section-->
<section id="signup">
    <div class="container">
        <form action="/users/signup" method="POST">
            <div>
              <label>Account Type</label>
                <input type="radio" name="account" id="user" style="margin-right: -225px" required>Customer
                <br>
                <input type="radio" name="account" id="staff" style="margin-right: -225px" required>Airline Staff
            <div>
                <label>Email</label>
                <input type="email" name="email" placeholder="Email Address" required>
            </div>
            <div>
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button class="button_1" type="submit">Sign Up</button>
        </form>
    </div>
</section>

<div style="margin-top: 150px"></div>

<footer>
    <h2>Copyrights &copy; Reserved by Expedi-A, 2019.</h2>
</footer>
</body>
</html>
