body{
	background:#f4f4f4;
	color:#555;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height:1em;
	margin:0;
}

/* Global */
.container{
	margin:auto;
	overflow:hidden;
	height:100%;
	width:95%;
}

ul{
	margin:0;
	padding:0;
}

.username{
	font-style:italic;
	color:#EEC218;
}

/* Main button layout */
.button_1{
	border: 2px solid #DEDEDE;
	border-radius: 10px;
	cursor: pointer;
	padding:10px;
	font-size:20px;
	font-weight:bold;
	background:#EEC218;
	color:#white;
	margin-top:20px;
	width:30%;
}

/* Extra button layout */
.buy {
	border: 2px solid #DEDEDE;
	border-radius: 10px;
	cursor: pointer;
	padding:5px;
	font-size:15px;
	font-weight:bold;
	background:#EEC218;
	color:#white;
	width:100%;
}

/* Header */
header{
	background:#EEC218;
	color:white;
	border:2px solid #DEDEDE;
	border-radius: 25px;
	margin-top:10px;
}

#homeLogo{
	margin:auto;
	align-content:center;
}

header .home-logo a{
	float:left;
	margin-top:25px;
	font-size:0px;
	color:white;
	text-decoration:none;
}

header nav{
	float:right;
	font-weight:bold;
	margin-top:50px;
}

header li{
	float:left;
	display:inline;
}

header a{
	margin:1.5em;
	color:#00355F;
	text-decoration: none;
	font-size:30px;
}

header .current a{
	color: #8b9dc3;
	font-weight: bold;
}

header a:hover{
	color:#dfe3ee;
}

header .home-logo a:hover{
	color: #dfe3ee;
}

/* Airlines */
.available_airlines h1{
	font-style:italic;
	font-size:40px
}

/* Table Layout */
table {
	display: inline-table;
	margin: 0 10px;
	grid-template-columns: repeat(3,1fr);
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:white;
}

/* Form layouts */
#login, #signup {
	background:#f4f4f4;
	border-radius: 50px;
	border:5px solid #b7b7b7;
	width: 30%;
	margin:auto;
	margin-top:50px;
	padding:20px;
	text-align: center;
}

#sell {
	background:#f4f4f4;
	border-radius: 50px;
	border:5px solid #b7b7b7;
	width: 50%;
	margin:auto;
	margin-top:25px;
	padding:20px;
	text-align: center;
}

#sell h1{
	font-size:40px;
}

#login label, #signup label{
	display: block;
	margin-top:20px;
	font-size:30px;
}

#sell label{
	margin-top:20px;
	font-size:20px;
}

#login input, #signup input{
	width:70%;
	height:40px;
	margin:auto;
	margin-top:10px;
	padding:5px;
	font-size:20px;
}

#sell input{
	width:70%;
	height:30px;
	margin:auto;
	margin-top:20px;
	padding:5px;
	font-size:15px;
}

/* Product */
#productPageList {
	width:50%;
	margin:auto;
}

#productPageList li{
	font-size:30px;
	text-align: center;
	padding:0.5em;
	list-style-type: none;
}

#buyProduct{
	width:10%;
	margin:0 auto;
	padding:0.5em;
	display:block;
	font-size:25px;
	background:#3ad80a;
	color:white;
}

/* Success redirect page */
#redirectText{
	text-align: center;
	margin-top: 100px;
	margin-bottom:100px;
}

footer{
	text-align: center;
	font-size:15px;
	margin-bottom: -10px;
	min-height: 100%;
	padding:10px;
	color:#000;
	height:60px;
}
